{% assign num_urls = trmnl.plugin_settings.polling_url | newline_to_br | split: '<br />' | size %}

{% template render_stop_desc %}
{% unless trmnl.plugin_settings.custom_fields_values.show_stop_names == 'Off' %}
  <tr>
    <td colspan="2">
      <span class="label label--small">{{ desc }}</span>
    </td>
  </tr>
{% endunless %}
{% endtemplate %}

{% template render_line %}
<tr>
  <td>
    <span class="title title--small">
      <span class="label {{ trmnl.plugin_settings.custom_fields_values.line_num_style }}">
        {{- line.Line.LineCode -}}
      </span>
      <span class="label--gray text--gray-20">per</span>
      <span class="label">{{ line.Line.LineDescription | split: ' - ' | last | strip }}</span>
    </span>
  </td>
  <td>
    <span class="label">{{ line.WaitMessage }}</span>
  </td>
</tr>
{% endtemplate %}

<table
  class="table m--3 {% unless trmnl.plugin_settings.custom_fields_values.condense_table == 'Off' %}table--small{% endunless %}"
  data-table-limit="true"
>
  <thead>
    <tr>
      <th><span class="title">Linea</span></th>
      <th><span class="title">Attesa</span></th>
    </tr>
  </thead>
  <tbody>
    {% if num_urls == 1 %}
      {% render 'render_stop_desc', desc: Description, trmnl: trmnl %}
      {% for line in Lines %}
        {% render 'render_line', line: line, trmnl: trmnl %}
      {% endfor %}

    {% else %}
      {% for idx in (0..num_urls) %}
        <!-- Ugly hack -->

        {% if idx == 0 %}
          {% assign item = IDX_0 %}
        {% elsif idx == 1 %}
          {% assign item = IDX_1 %}
        {% elsif idx == 2 %}
          {% assign item = IDX_2 %}
        {% elsif idx == 3 %}
          {% assign item = IDX_3 %}
        {% elsif idx == 4 %}
          {% assign item = IDX_4 %}
        {% elsif idx == 5 %}
          {% assign item = IDX_5 %}
        {% elsif idx == 6 %}
          {% assign item = IDX_6 %}
        {% elsif idx == 7 %}
          {% assign item = IDX_7 %}
        {% elsif idx == 8 %}
          {% assign item = IDX_8 %}
        {% elsif idx == 9 %}
          {% assign item = IDX_9 %}
        {% endif %}

        {% unless idx >= 10 %}
          {% render 'render_stop_desc', desc: item.Description, trmnl: trmnl %}
          {% for line in item.Lines %}
            {% render 'render_line', line: line, trmnl: trmnl %}
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2">
              <span class="label label--gray">e altre {{ num_urls | minus: 10 }}</span>
            </td>
          </tr>
          {% break %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </tbody>
</table>

<div class="title_bar">
  {% assign title = trmnl.plugin_settings.custom_fields_values.title %}
  {% if title and title != '' %}
    <span class="title">{{ title }}</span>
  {% else %}
    <img
      class="image p--1"
      src="https://raw.githubusercontent.com/depau/trmnl-atm-milano/refs/heads/main/atm-logo-black.svg"
      alt="ATM Milano"
    >
  {% endif %}

  <span class="instance">
    {{- trmnl.plugin_settings.custom_fields_values.refreshed_label | default: 'aggiornato' }}:
    {{ 'now' | date: '%H:%M:%S' -}}
  </span>
</div>
